@using FILMEX.Models
@model FILMEX.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "FilmsToWatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Films To Watch</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Title</td>
                <td>
                    <form asp-controller="Movie" asp-action="RemoveFromWatchList" method="post">
                        <input type="hidden" name="MovieId" value="@movie.Id" />
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </td>
                <td>
                    @movie.PublishDate
                </td>
            </tr>
        }
        @foreach (var serie in Model.Series)
        {
            <tr>
                <td>@serie.Title</td>
                <td>
                    <form asp-controller="Series" asp-action="RemoveFromWatchList" method="post">
                        <input type="hidden" name="SerieId" value="@serie.Id" />
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </td>
                <td>
                    @serie.PublishDate
                </td>
            </tr>
        }
    </tbody>
</table>



