﻿@using FILMEX.Models.Entities
@model FILMEX.Models.SeriesPageViewModel

@{
    ViewData["Title"] = "Series";
    List<SeriesCategory> categories = ViewBag.Categories;
}

<form asp-controller="Home" asp-action="SortSeriesByCategories" method="post">
    <div class="form-group">
        <label>Sort by category</label>
        <select id="SelectedCategory" name="SelectedCategory" class="form-control">
            <option value="">Select...</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.CategoryName">@category.CategoryName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Sort" class="btn btn-sm btn-primary" />
    </div>
</form>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Series</h2>
            <div class="row">
                @foreach (var serie in Model.Series)
                {
                    <div class="col-md-2">
                        <div class="card">
                            <img src="/@serie.AttachmentSource" class="card-img-top movie-image" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@serie.Title</h5>
                                <p class="card-text">@serie.Description</p>
                                <a href="@Url.Action("Detail", "Series", new { id = serie.Id })" class="btn btn-primary">See details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<style>
    .movie-image {
        object-fit: cover; /* Maintain aspect ratio and cover entire area */
    }
</style>